{% extends 'base/main.html' %}

{% block content %}
    <div class="header-bar">
        <a href="{% url 'tasks' %}">&#8592; Go Back</a>
    </div>
    <div class="card-body">
        <h1>Notifications</h1>
        {% if notifications %}
        <ul>
        {% for notification in notifications %}
            <li>{{ notification.message }}</li>
        {% endfor %}
        </ul>
        {% else %}
            <p>You have no unread notifications.</p>
        {% endif %}
    </div>
    
    
{% endblock %}

